<div>
    <button [routerLink]="[ '/tablaMultiplicar', 2 ]">Envar a tabla del 2</button><br>
    <button [routerLink]="[ '/tablaMultiplicar', 3 ]">Envar a tabla del 3</button><br>
    <button [routerLink]="[ '/tablaMultiplicar', 4 ]">Envar a tabla del 4</button><br>
    <button [routerLink]="[ '/tablaMultiplicar', 5 ]">Envar a tabla del 5</button><br>
    <button [routerLink]="[ '/tablaMultiplicar', 6 ]">Envar a tabla del 6</button><br>
    <button [routerLink]="[ '/tablaMultiplicar', 7 ]">Envar a tabla del 7</button><br>
    <button [routerLink]="[ '/tablaMultiplicar', 8 ]">Envar a tabla del 8</button><br>
    <button [routerLink]="[ '/tablaMultiplicar', 9 ]">Envar a tabla del 9</button>
</div>