<div>   
    <ul style="display: flex; justify-content: space-around;">
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine</a>
        </li>
        <li>
            <a [routerLink]="['/musica']">Musica</a>
        </li>
        <li>
            <a [routerLink]="['/numeroDoble']">NumeroDoble</a>
        </li>
        <li>
            <a [routerLink]="['/tablaMultiplicar']">tabla multiplicar</a>
        </li>
        <li>
            <a [routerLink]="['/numeroDoble/20']">NumeroDoble de 20</a>
        </li>
    </ul>
</div>